*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100px;
}

.width-50 {
  width: 50%;
}

.container {
 float: left;
}

.pd-30 {
  padding: 30px;
}

figcaption {
  color: gray;
}
