*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family:Raleway,sans-serif;
  color: black;
}

h1{
  margin-bottom:2%;
  margin-left:8%;
}

header hr{
  margin-top:0px;
  margin-bottom:0px;
  margin-left:30px;  
}
p{
  text-align:justify;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 4rem;
  font-size: 1.8rem;
}

/*imagenes*/
.overflow {
  overflow: auto;
}

#container {
 position:absolute;
 margin-left: 7%;
}
#container2 {
  float: right;
  position:absolute;
  margin-left:53%;
}

img {
  width: 350px;
  margin-top: 2rem;
  margin-bottom: 9rem;

}


figcaption {
  color: gray;
}


/*tabla*/


.sumary{
  vertical-align:top;
  width:20%;
  margin-top:15px;
  height: 100%;
  margin-bottom: 15%;
}

.sumary-table{
  border:1px solid #a2a9b1;
  background: color #fbf9fa;
  padding:2px;
  font-size:14px;

}

.sumary-table thead th{
  background-color:#a2a9b1;
  padding:4%;
  font-size:16px;
  text-align: center;
}

.sumary-table tbody tr:first-child{
  text-align:center;
}

.sumary-table tbody th{
  text-align:left;
}


